<div class="container">
    <div *ngIf="searchId==1 && searchStatus">
        <h1>Search by Movie ID:</h1>
        <form #f="ngForm" (ngSubmit)="submitSearchbyId(f.value)" class="">
            <div class="form-group">
                <label for="movieId">Enter the Movie Id:</label>
                <input type="text" ngModel required name="movieId" class="form-control" id="movieId"
                    placeholder="Enter Movie ID">
            </div>

            <button type="submit" [disabled]="!f.valid"
                class="btn btn-success waves-effect waves-light m-r-10">Search</button>
        </form>
    </div>

    <div *ngIf="searchId==2 && searchStatus">
        <h1>Search by Movie Name:</h1>
        <form #f="ngForm" (ngSubmit)="submitSearch(f.value)" class="">
            <div class="form-group">
                <label for="name">Enter Movie Name:</label>
                <input type="text" ngModel required name="name" class="form-control" id="name"
                    placeholder="Enter Movie Name">
            </div>

            <button type="submit" [disabled]="!f.valid"
                class="btn btn-success waves-effect waves-light m-r-10">Search</button>
        </form>
    </div>

    <div *ngIf="searchId==3 && searchStatus">
        <h1>Search by Movie Collection:</h1>
        <h3>Ranges From</h3>
        <form #f="ngForm" (ngSubmit)="submitSearchMovieCollection(f.value)" class="">
            <div class="form-group">
                <input type="number" ngModel required name="from" class="form-control" id="from"><h3>Ranges To</h3>
            </div>

            <div class="form-group">
                <input type="number" ngModel required name="to" class="form-control" id="to">
            </div>

            <button type="submit" [disabled]="!f.valid"
                class="btn btn-success waves-effect waves-light m-r-10">Search</button>
        </form>
    </div>

    <div *ngIf="!searchStatus">
        <h1>Sorry No Matches Found for the search criteria</h1>
        <a (click)="home()">Home</a>
    </div>

    <div *ngIf="tableShow">
        <h1>Movie Details</h1>
        <table>
            <thead>
                <tr>
                    <th>Movie ID</th>
                    <th>Movie Name</th>
                    <th>Movie collection</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movie of movies">
                    <td>{{ movie?.movie_id }}</td>
                    <td>{{ movie?.movie_name }}</td>
                    <td>{{ movie?.movie_collection }}</td>
                </tr>
            </tbody>
        </table>
        <a (click)="home()">Home</a>
    </div>
</div>