.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
}

.form {
    width: 50%;
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
}

.btn {
    display: block;
    margin: 0 auto;
}

.btn:hover {
    background-color: yellow;
}

table {
    width: 50%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: yellow;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.home-link {
    margin-top: 20px;
}