.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgreen;
}

.inner-container {
    border: 2px solid black;
    padding: 20px;
    background-color: lightgreen;
    font-weight: bold;
}

.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-link {
    border: 2px solid yellow;
    background-color: yellow;
    padding: 5px 10px;
    border-radius: 5px;
}

.links-container {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a+a {
    margin-left: 10px;
}

a:hover {
    background-color: yellow;
}

h1 {
    margin-bottom: 10px;
}

h3 {
    margin-top: 0;
}
.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-top: 10px;
}

.link:hover {
    background-color: yellow;
    border-color: yellow;
}