<div class="outer-container">
    <div class="inner-container">
        <h1>Search:</h1>
        <div class="admin-container">
            <a class="admin-link" (click)="login()">Admin</a>
            <div class="links-container">
                <a (click)="byMovieId()" class="link">by Movie ID</a>
                <a (click)="byMovieName()" class="link">by Movie Name</a>
                <a (click)="byMovieCollection()" class="link">by Movie Collection</a>
            </div>
        </div>
    </div>
</div>