<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Admin Login</h3>
    </div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="loginSubmit(f.value)" class="">
        <div class="form-group">
          <label for="userId">User ID: </label>
          <input type="text" ngModel required name="userId" class="form-control" id="userId"
            placeholder="Enter User ID">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail2">Password: </label>
          <input type="password" ngModel name="password" class="form-control" id="exampleInputEmail2"
            placeholder="Enter Password">
        </div>
        <button type="submit" [disabled]="!f.valid"
          class="btn btn-success waves-effect waves-light m-r-10">Login</button>
      </form>
    </div>
  </div>
</div>