.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgreen;
}

.card {
    width: 50%;
}

.card-header {
    color: black;
    padding: 10px;
    text-align: center;
}

.card-body {
    padding: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
}

.btn {
    margin-top: 20px;
}