<div class="container" *ngIf="movieAdmin">
    <h1>Movie Admin Page</h1>
    <div class="admin-links">
        <a (click)="addMovie()">Add Movie</a>
        <a (click)="modifyMovie()">Modify Movie</a>
    </div>
</div>

<div class="container" *ngIf="enterMovie">
    <form #f="ngForm" (ngSubmit)="addMovies(f.value)" class="form">
        <div class="form-group">
            <label for="movie_id">Enter Movie ID: </label>
            <input type="text" ngModel required name="movie_id" class="form-control" id="movie_id"
                placeholder="Enter Movie ID">
        </div>
        <div class="form-group">
            <label for="movie_name">Enter Movie Name: </label>
            <input type="text" ngModel required name="movie_name" class="form-control" id="movie_name"
                placeholder="Enter Movie Name">
        </div>
        <div class="form-group">
            <label for="movie_collection">Enter Movie Collection: </label>
            <input type="number" ngModel required name="movie_collection" class="form-control" id="movie_collection"
                placeholder="Enter Movie Collection">
        </div>

        <button type="submit" [disabled]="!f.valid" class="btn btn-success">Add</button>
    </form>
</div>

<div class="container" *ngIf="movieAddSuccess">
    <h1>Movie Added successfully</h1>
    <a (click)="home()">Home</a>
</div>

<div class="container" *ngIf="editMovie">
    <h1>Functionally Not available</h1>
    <h3>Still in progress...</h3>
    <a (click)="home()">Home</a>
</div>