.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    background-color: lightgreen;
    padding: 40px;
}

.admin-links a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.admin-links a:hover {
    background-color: yellow;
}

.form {
    width: 50%;
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
}

.btn {
    display: block;
    margin: 0 auto;
    /* Center-align the button */
}

.btn:hover {
    background-color: yellow;
}